@media screen and (max-width: 1130px) { 
    .box {display: none;}
    #coaching_mobile, #mindfulness_mobile, #webinars_mobile {display: block;}
    .main_quote {height: 500px; overflow: hidden;}
    #spacer-clients {margin-top: 20px;}
     .edison-quote {font-size: 32px; }
}

@media screen and (max-width: 991px) { 
    .box {display: none;}
    #coaching_mobile, #mindfulness_mobile, #webinars_mobile {display: block;}
    .main_quote {height: 500px; overflow: hidden;}
    #spacer-clients {margin-top: 30px;}
}

@media screen and (max-width: 767px) {
    
    .menu, .menu li a, .menuItem
    {
        display: block;
    }
    
    #header{
        height: 20%;
        width: 100%;
        display: relative;
    }
    #nav{
        width: 100%;
    }
    .logo {
        max-width:200px;
    }
    .box {
        display: none;
    }
    .main_quote {
        max-height: 100%;
        overflow: hidden;
    }
    .edison-quote {
        font-size: 30px;
        line-height: 120%;
    }
    .quote {
        padding: 40px 40px 0px 40px;
        height: 100%;
        width: 100%;
    }
    .quote a {
        font-size: 18px;
        padding: 15px;
    }
    .row {
        flex-direction: column; 
    }
    .photo {
        max-height: 100%; 
        width: 100%;
        position: absolute;
        left: 0;
        z-index: -10;
    }
    .col, .col1 {
        padding: 10px;
        display: inline-block;
        width: 100%; 
        float: center; 
    }
    .col1 h1, h2{
        font-size: 21px;
    }
    .col2 {
        font-size: 17px;
        line-height: 150%;
        width: 82%; 
        padding-right: 40px;
        margin-top: 1%;
    }
    #about.col2{
        width: 90%; 
        line-height: 2.5;
        padding-top: 50px;
        padding-bottom: 50px;
        padding: 40px;
        position: relative; 
        display: block; 
        margin-top: 100px;
    }
    #about_page {
        width: 90%;
        padding: 30px;
    }
    #spacer {
        margin-top: 30%;
    }
    #spacer_home
    {
        padding: 0;
        margin:0;
        margin-bottom: 5%;
    }
    
    #spacer-webinar {
        margin-top: 30%;
        width: 80%;
    }
    
    #cafe img
    {
        display: none;
    }
    
    .col1-pic {
        width: 100%;
        display: inline-block;
        position: relative;
    }
    .question_bar {
        font-size: 3vw;
        padding-top: 70px; 
        padding-bottom: 70px; 
        position: relative;
    }    
    .question_bar a {
        font-size: 3vw;
        margin-top: 0px;
        margin-left: 10px;
        padding: 3.5% 3.5%;
        position: relative;
        right: 15px;
        display: inline-block;
        float: right;
    }
    .question_bar .vertical-center {
        width: 80%;
    }
    .vertical-center a
    {
        margin-right = 0;
    }
    
    #spacer-clients {
        margin-top: 90px;
    }
    #clients_box {
        width: 80%;
    }
    .bubble {
        padding-bottom: 20px;
        justify-content: center;
    }
    /* bubbles for homepage only */
    .num1
    {
        display: none;
    }
    #spacer a {
        font-size: 17px;
        max-width: 90%;
        margin-bottom: 4%;
        margin-top: 0;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #Karin {
        justify-content: center;
        float: center;
    }
    .map {
        display: none;
    }
    #footer_box_r, #footer_box_l {
        float: left;
        text-align: left;
        display: block;
        width: 100%;
        position: relative;
        font-size: 15px; }
        
    #footer_home {height: 7%;}
        
    .footer_img {
        height: 50%;
    }
    #contact {
        margin-top: 100px;
    }
    #contact-text.col2 {
        width: 80%;
    }
    #topics, #webinars_workshops {
        width: 100%;
    }
    form {
        width: 70%;
        float: left;
    }
    form button {
        font-weight: 800px; 
        padding: 10px 30px; 
        border-radius: 20px;
        font-size: 19px; 
    }
    #footer_img{
        display: none;
    }
    #coaching_mobile, #mindfulness_mobile, #webinars_mobile, #return_to_top {display: block;}
}
        
        
 @media screen and (max-width: 479px) { 
     .box {display: none;}
     #coaching_mobile, #mindfulness_mobile, #webinars_mobile {display: block;}
     .question_bar {
         font-size: 20px;
     }    
     .question_bar a {
         font-size: 18px;
         margin-top: 20px;
     }
 }
