@font-face{font-family: "Red Hat Display";
src: url("./fonts/RedHatDisplay-VariableFont_wght.ttf");}

body,html {font-family: "Red Hat Display"} 


#header {position: fixed; top: 0px; display: block; left: -5px;
         width: 110%; background-color: #47A2AE; height: 156px;
         box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1); z-index: 1;}
#brand {position: absolute; width: 330px; height: 58px; left: 10px;
        top: calc(50% - 58px/2 + 13px);}
#name {position: absolute; width: 315px; height: 156px;
       display: inline-block;}
#name a {display: inline-block; z-index: 2;}
.logo {max-width:315px; top: 82px; position: absolute; z-index: 1;}
         
#nav {height: 156px; right: 15%;
      position: absolute; display: inline-block;}
#nav ul {list-style-type: none; margin: 0; padding: 0;}
#nav li {float: right; margin-left: 20px; height: 50px;}
#nav li a{display: block; width: auto; 
           font-style: normal; font-weight: 600; font-size: 18px; 
           text-align: center; letter-spacing: 0.2px; color: #FFF;
           padding: 5px; height: 25px; position: relative; top: 70px;}
#nav ul li:first-child a {background-color: #FFF; color: #0D5C63; border-radius: 37px;
                          width: 110px;}
                          
#main {padding: 156px 0px; padding-bottom: 0; width: 100%; height: auto; position: relative;}
.edison-quote {font-size: 38px; line-height: 50px;}
.main_quote {height: 1000px; width: 100%; position: relative;}
.quote {padding: 5% 5%; position: absolute; width: 45%; height: 578px;
         font-size: 20px;}
.quote a {width: 100%; border-radius: 40px; background-color: #FF7B47;
          color: #FFF; padding: 15px 30px;}
.photo {position: absolute; left: 40%; right: 4%;
        top: -8%; bottom: 0px; background: url("Karin.jpg"); background-size: cover;
        max-height: 80%; }
.center{display: flex; flex-wrap: wrap; justify-content: space-around;}
.row {display: flex; flex-direction: row; margin-left: 6%; 
        position: absolute; margin-top: 45%; }
.box {display: inline-block; margin-left: 30px; color: #737373; opacity: 1;
      box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2); height: 100%; background-color: #FFF;}
.box img{ float: left; margin-left: 10%; margin-top: 7%;}
.box h2 {color: #252B42}
.text {padding: 35px 40px; text-align: left;}
.box:hover {background-color: #47A2AE; color: #FFF;}
.box:hover h2 {color: #FFF;}
    
#about 
{background-color: #FFF;}

#client
{ background-image: url("world.png");}
#client, #about, #yoga, #lotus, #webinars_workshops, #topics, #contact, #cafe, #about_page
        {position: relative; display: inline-block; font-family: "Red Hat Display";
         padding: 8% 0%; letter-spacing: 0.2px; width: 100%; 
}
.col1 h2, .col1 h1, .col1 {width: 38%; float: left; padding-left: 6%; font-size: 25px; font-weight: bold;}
.col2 {width: 60%; float: right; padding-right: 6%; line-height: 2.5; font-size: 18px;}
#client a, #about a {padding: 2px 30px; border-radius: 23px; color: #47A2AE;
                      background-color: #FFF; font-weight: 600; text-align: center;
                      float: right; border: 2px solid #47A2AE; margin: 5%;}
#client a {margin-top:200px;}
#clients_box{border: 2px solid #47A2AE; padding: 3%; margin: 5% 7%; width: 35%;}
#clients_box li{line-height: 2;}

#lotus, #webinars_workshops{background-color: #FAFAFA;}
#yoga .col2, #lotus .col2, #webinars_workshops .col2, #topics .col2, #contact .col2, #cafe .col2, #about_page .col2{width: 48%; padding-right: 6%;}
#lotus .col1, #webinars_workshops .col1, #cafe .col1, {float: right;  padding-right: 6%; padding-left: 0;}
#lotus .col2, #webinars_workshops .col2, #contact .col2, #cafe .col2{float: left;  padding-left: 6%;  padding-right:0;}
.subtitle_text h1, .subtitle_text h2 {font-weight: 20em; font-size: 25px; display: inline-block;}
.section_text{font-weight: bold; margin-top: 2%; }
.shape {padding-right: 2%;}
#about.col2{padding-right: 7%;}
.bubbleWrapper {padding: 10%; text-align: center; color: #000;}
.bubbles img {border-radius: 50%; margin-bottom: 25%;}
.bubble{ margin: 0 5%; display: inline-block; font-size: 20px; font-weight: bold; }

#spacer, #spacer_home {position: relative; display: inline-block; padding: 4%; letter-spacing: 0.2px; 
           width: 96%; line-height: 2.5; padding-right: 0;
}
#spacer-clients  {position: relative; display: inline-block; letter-spacing: 0.2px; padding-top: 2%;
           width: 80%; padding-left: 7%; background-color: #FFF; line-height: 2.5; 
}
#spacer-webinar  {position: relative; display: inline-block; padding: 4% 7%; letter-spacing: 0.2px; 
           width: 100%; background-color: #FFF; line-height: 2.5;}
#spacer a, #spacer_home a {display: block; max-width: 45%; text-align: center; position: relative;
            padding: 20px 15px; border-radius: 12px; background-color: #FF7b47;
            line-height: 120%; border: 2px solid rgba(255, 230, 0, 0.6);
            margin-left: auto; margin-right: auto; font-weight: 600;  font-size: 18px; 
            letter-spacing: 0.2px; color: #FFF;  }
.col1-pic {width: 35%; position: absolute; float: left;}
hr{border-top: 2px solid #FF7b47; margin-bottom: 5%;}
form {background: #47A2AE; color: #FFF; padding: 4%; float: right; margin: 0 8%; width: 25%;
height: 30%; line-height: 2.5; font-size: 15px;}   

input, textarea {border-width: 0; border-radius: 5px; border-bottom: 2px solid white; width: 90%; height: 30px;} 
textarea {height: 70px;}
#form_button {width: auto; background: #FF7B47; font-size: 16px; color: white;
            float: left; margin-top: 10%;
            font-weight: 800px; padding: 10px 35px; border-radius: 20px;}
#contact-text.col2 {width: 45%;}
.question_bar {color: #FFF; position: relative; font-size: 30px;
    background-color: #47A2AE; float:none; display: block; font-weight: 600;
    max-width: 100%; padding-top: 80px; padding-bottom: 100px; padding-left: 10%;}
.question_bar a {margin-right: 15%; display: inline-block; padding: 15px 35px;
                border-radius: 12px; background-color: #FF7b47;
                font-weight: 600;  font-size: 16px; text-align: center;
                letter-spacing: 0.2px; color: #FFF; float: right; border: 2px solid rgba(255, 230, 0, 0.6);}

#footer_home, #footer{position: absolute; background-color: #FFF; text-align: center;
            width: 95%; color: #FFF;padding: 2.5%; padding-bottom: 1%;
             height: 2.5%; left: 0; background-color: #5086D7; margin-top: 0; line-height: 2.5; bottom: 0;}
#footer_home, #footer{bottom: 0; background-color: #5086D7; height: 100%; position: relative;
        display: inline-block;}
#footer_box_l{display: inline-block; float: left; text-align: left;}
#footer_box_r{display: inline-block; float: right; text-align: right;}
#footer_img {background-color: rgba(71, 162, 174, 0.2); max-width: 100%; overflow: hidden; height: 400px; position: relative; left: 0; display: inline-block;}
a {text-decoration: none;}

.mobile {display: none;}
.hamburger {display: none; position: fixed; z-index: 100; top: 1rem; right: 1rem; padding: 4px;
           cursor: pointer;font-size: 18px; color: #0D5C63; background-color: #FFF;
           border: none; border-radius: 20px; padding-right: 15px; padding-left: 15px;}
i {font-style: normal;}
.closeIcon {display: none;}
.menu {position: fixed; transform: translateY(-100%); transition: transform 0.2s; top: 0; left: 0; right: 0;
       bottom: 0; z-index: 99; background-color: #47A2AE; color: white; list-style: none; padding-top: 4rem; display: none;}
.menu li a {clear: both; text-align: center; display: block
           list-style-type: none; color: #FFF; font-size: 6vw;}
.showMenu {transform: translateY(0);}
@media screen and (max-width: 900px) {.no-mobile {display: none;}, .mobile {display: block;} .hamburger {display: block;}}

#coaching_mobile, #mindfulness_mobile, #webinars_mobile {display: none}
#coaching_mobile img, #mindfulness_mobile img, #webinars_mobile img {padding-right: 15px;}
#coaching_mobile a, #mindfulness_mobile a, #webinars_mobile a{color: #FFF; background-color: #FF7B47; border-radius: 10px; 
padding: 5px 10px; position: absolute; right: 50px;}

#return_to_top {display: none; border-bottom: 1px solid white; border-radius: 15px; background-color: #FF7B47; padding:.5% 1%; 
    text-align: center; color: white; width: 10%; font-size: 18px;}
