@font-face{font-family: "Red Hat Display";
src: url("./fonts/RedHatDisplay-VariableFont_wght.ttf");}

body,html {font-family: "Red Hat Display"}

#header {position: fixed; top: 0px; display: block; left: -5px;
         width: 110%; background-color: #47A2AE; height: 156px;
         box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.1); z-index: 1;}
#brand {position: absolute; width: 330px; height: 58px; left: 10px;
        top: calc(50% - 58px/2 + 13px);}
#name {position: absolute; width: 315px; height: 34px; left: 20px; top: 12px;
       font-family: "Red Hat Display"; font-style: normal; font-weight: bold;
       font-size: 15px; line-height: 0%; letter-spacing: 0.1px; 
        display: inline-block;}
#name a {width: 315px; height: auto; display: inline-block; position: relative;
         z-index: 1;}
         
#nav {width: calc(100% - 335px); height: 156px; right: 15%;
      position: absolute; display: inline-block;}
#nav ul {list-style-type: none; margin: 0; padding: 0;}
#nav li {float: right; margin-left: 20px; height: 50px;}
#nav li a {font-family: "Red Hat Display"; display: block; width: auto; 
           font-style: normal; font-weight: 600; font-size: 18px; 
           text-align: center; letter-spacing: 0.2px; color: #FFF;
           padding: 5px; height: 25px; position: relative; top: 70px;}
#nav ul li:first-child a {background-color: #FFF; color: #0D5C63; border-radius: 37px;
                          width: 110px;}
                          
#main {padding: 156px 0px; width: 100%; height: auto; position: relative;}

.main_quote { height: 1000px; width: 100%; position: relative;}
.quote {padding: 80px 120px; position: absolute; width: 1094px; height: 578px;
        font-family: "Red Hat Display"; font-size: 20px;}
.quote a {width: auto; border-radius: 20px; background-color: #FF7B47;
          color: #FFF; padding: 8px 8px;}
.photo {position: absolute; left: 631px; right: 80px;
        top: 1%; bottom: 0px; background: url("Karin.jpg"); background-size: cover;
        width: 700px; height: 700px; }
.row {display: flex; flex-direction: row; margin-left: 6%; 
        position: absolute; margin-top: 45%; }
.box {font-family: "Red Hat Display"; display: inline-block; margin-left: 30px;
      box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.2); height: 304px;
      color: #737373; opacity: 1;}
.box img{ float: left; margin-left: 10%; margin-top: 7%;}
.box h2 {color: #252B42}
.text {padding: 35px 40px; text-align: left;}
.box:hover {background-color: #47A2AE; color: #FFF;}
.box:hover h2 {color: #FFF;}
    
#about 
{ background-color: #FAFAFA;}
#client
{ background-image: url("world.png");}
#client, #about, #yoga, #lotus, #webinars_workshops, #topics
        {position: relative; display: inline-block; font-family: "Red Hat Display";
         padding: 8% 0%; letter-spacing: 0.2px; width: 100%; 
}
.col1 {width: 25%;  float: left; padding-left: 6%; font-size: 25px; font-weight: bold;}
.col2 {width: 69%; float: right; padding-right: 6%; line-height: 2.5; font-size: 18px;}
#client a, #about a {padding: 2px 30px; border-radius: 23px; color: #47A2AE;
                      background-color: #FFF; font-weight: 600; text-align: center;
                      float: right; border: 2px solid #47A2AE; margin: 5%;}
#client a {margin-top:200px;}
#clients_box{border: 2px solid #47A2AE; padding: 3%; margin: 5% 7%; width: 35%;}
#clients_box li{line-height: 2;}

#lotus, #webinars_workshops{background-color: #FAFAFA;}
#yoga .col2, #lotus .col2, #webinars_workshops .col2, #topics .col2 {width: 50%;}
#lotus .col1, #webinars_workshops .col1{float: right;  padding-right: 6%; padding-left: 0;}
#lotus .col2, #webinars_workshops .col2{float: left;  padding-left: 6%;  padding-right:0;}
.subtitle_text{font-weight: 20em; font-size: 25px; }
.section_text{font-weight: bold; margin-top: 2%; }
.shape {padding-right: 2%;}

#bubbles{ background-image: url("lines.png"); font-family: "Red Hat Display";
        font-size: 20px; font-weight: bold; padding: 10%; } 
.bubbleWrapper {width: 100%;} 
.bubble {display: inline-flex; flex-direction: row; margin: 0% 7%; text-align: center; width: 200px;}
.bubble img {border-radius: 50%;  margin-top: 40%; } 
 #spacer  {position: relative; display: inline-block; padding: 4% 7%; letter-spacing: 0.2px; 
           width: 86%; line-height: 2.5; font-family: "Red Hat Display"; ; 
}
 #spacer a {display: block; width: 20%; text-align: center; position: relative;
            padding: 10px 25px; border-radius: 12px; background-color: #FF7b47;
            margin-left: auto; margin-right: auto; font-weight: 600;  font-size: 12px; 
            letter-spacing: 0.2px; color: #FFF;  }

hr{border-top: 2px solid #FF7b47; margin-bottom: 5%;}
            
.question_bar {color: #FFF; position: relative; font-size: 30px;
    background-color: #47A2AE; float:none; display: block;
    width: 85%; padding-top: 50px; padding-bottom: 50px; padding-left: 15%;
    font-family: "Red Hat Display"; }
.question_bar a {margin-right: 15%; display: inline-block; padding: 10px 25px;
                border-radius: 12px; background-color: #FF7b47;
                font-weight: 600;  font-size: 12px; text-align: center;
                letter-spacing: 0.2px; color: #FFF; float: right; border: .5px solid white;}

#footer_home, #footer{position: absolute; background-color: #FFF; text-align: center;
            width: 95%; color: #FFF; font-family: "Red Hat Display"; padding: 2.5%; padding-bottom: 1%;
             height: 2.5%; left: 0; background-color: #47A2AE; margin-top: 0; line-height: 2.5; bottom: 0;}
#footer{bottom: 0; background-color: #5086D7; height: 100%; position: relative;
        display: inline-block;}
#footer_box_l{display: inline-block; float: left; text-align: left;}
#footer_box_r{display: inline-block; float: right; text-align: right;}
#footer_img {background-color: rgba(71, 162, 174, 0.2); width: 100%; 
             height: 780px; position: relative; left: 0; }
h1 {color: #FFF;}
a {text-decoration: none;}
